<div>
  <div id="faq">
    {{#allQr}}
    <section id="section-{{rowid}}">
      <header style="display: inline-flex">
        <h2 id="QR-{{rowid}}">{{question}}</h2>
        <button
          id="buttonUpdate"
          hx-get="/question/{{rowid}}"
          hx-target="#section-{{rowid}}"
          style="height: 50%; margin: 25px"
        >
          Update
        </button>
        <button
          id="buttonDelete"
          hx-delete="/question/{{rowid}}"
          style="height: 50%; margin: 25px"
        >
          Delete
        </button>
      </header>
      <p>{{response}}</p>
    </section>
    {{/allQr}}
  </div>
  <div id="askQuestion" class="container">
    <h2>Ask your question:</h2>
    <form>
      <input
        required
        type="text"
        name="input-question"
        size="55"
        length="10"
        maxlength="200"
        placeholder="Your question ..."
      />
      <button
        id="buttonAddQuestion"
        hx-validate="true"
        class="button"
        hx-target="#askQuestion"
        hx-post="/question"
      >
        Ask !
      </button>
    </form>
  </div>
</div>
